{% extends "_layouts/master.html" %}
{% block container %}
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-4">
            {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endif %}

            <form method="post" action="{% url "user-login" %}">
                {% csrf_token %}
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" required="required"/>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required="required" />
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
{% endblock %}