<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogs Site</title>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url "index" %}">Blogs Site</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url "index" %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "detail" %}">Detail</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "blog_app:dashboard" %}">My Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "blog_app:newBlog" %}">New Blog</a>
              </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "user-logout" %}">Logout</a>
                  </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "user-login" %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "user-register" %}">Register</a>
                    </li>
                {% endif %}
            </ul>
          </div>
        </nav>
    </div>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
</body>
</html>