<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration & Login</title>
    <link rel="stylesheet" href="{% static "styles.css" %}" />
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}" />
</head>
<body>
<nav class="navbar navbar-brand nav-justified">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url "one_app:index" %}" class="navbar-brand">Django</a></li>
            <li>
                <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
            </li>
            {% if user.is_authenticated %}
              {{ user.username }}
                <li>
                    <a href="{% url "one_app:user_logout" %}" class="nav-link">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "one_app:register" %}" class="nav-link">Register</a>
                </li>
                <li>
                    <a href="{% url "one_app:user_login" %}" class="nav-link">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>